.text-center

    h1 Simon Bond's Ringing Records

    .btn-group
        a.btn.btn-default(type="button",href="stats") Main Stats
        a.btn.btn-default(type="button", href="ringing") View All
        a.btn.btn-default(type="button", href="new") New Performance
        a.btn.btn-default(type="button", href="amend") Amend Performance