doctype transitional
html(lang="en")
    head
        title Simon Bond
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
        link(rel="stylesheet", href="static/simonbond.css")
        script(src="https://use.fontawesome.com/b8ec1e006e.js")


    body
        .row(style="height: 30px")
        .container
            .jumbotron.text-center
                h1 Simon Bond
                hr
                .buttonrow.row
                    h2.sabh2 Social
                    ul
                        li
                            a(href="https://twitter.com/simonabond")
                                i.fa.fa-lg.fa-twitter-square
                        li
                            a(href="https://facebook.com/simon.bond")
                                i.fa.fa-lg.fa-facebook-square
                        li
                            a(href="http://www.last.fm/user/simonbond")
                                i.fa.fa-lg.fa-lastfm-square
                        li
                            a(href="https://www.linkedin.com/in/simon-bond-2932a266/")
                                i.fa.fa-lg.fa-linkedin-square
                        li
                            a(href="https://www.youtube.com/c/simonbondsab")
                                i.fa.fa-lg.fa-youtube-square
                hr
                .buttonrow.row
                    h2.sabh2 Ringing
                    ul
                        li
                            a(href="stats")
                                i.fa.fa-lg.fa-bell
                        li
                            a(href="http://www.simonbond.me.uk/stuff/sabcomps.html")
                                i.fa.fa-lg.fa-music