doctype html
html(lang="en")
    head
        title Ringing Records
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")

    body
        include ./header
        br
        form.form-horizontal
            .form-group
                label.col-md-4.control-label(for="bbFetchId") Fetch from BellBoard
                .col-md-4
                    .input-group
                        input.form-control(name="bbFetchId")
                        span.input-group-addon Fetch

            .form-group
                label.col-md-4.control-label(for="assoc") Association
                .col-md-4
                    input.form-control.input-md(name="assoc")

            .form-group
                label.col-md-4.control-label(for="date") Date
                .col-md-4
                    input.form-control.input-md(name="date")

            .form-group
                label.col-md-4.control-label(for="tower") Tower
                .col-md-4
                    select.form-control(name="tower")
                        for tower in towers
                            option(value=tower._id) #{tower.formattedPlace}

            .form-group
                label.col-md-4.control-label(for="hours") Time
                .col-md-4
                    input.form-control(name="hours",style="width: 15%; display: inline")
                    input.form-control(name="minutes",style="width: 15%; display: inline")

            .form-group
                label.col-md-4.control-label(for="length") Length
                .col-md-4
                    input.form-control.input-md(name="length")

            .form-group
                label.col-md-4.control-label(for="method") Method
                .col-md-4
                    input.form-control.input-md(name="method")

            .form-group
                label.col-md-4.control-label(for="stage") Stage
                .col-md-4
                    select.form-control(name="stage")
                        option(value="Doubles") Doubles
                        option(value="Doubles and Minor") Doubles and Minor
                        option(value="Minor") Minor
                        option(value="Triples") Triples
                        option(value="Triples and Major") Triples and Major
                        option(value="Major") Major
                        option(value="Major and Caters") Major and Caters
                        option(value="Caters") Caters
                        option(value="Caters and Royal") Caters and Royal
                        option(value="Royal") Royal
                        option(value="Cinques") Cinques
                        option(value="Cinques and Maximus") Cinques and Maximus
                        option(value="Maximus") Maximus
                        option(value="Sextuples") Sextuples
                        option(value="Fourteen") Fourteen
                        option(value="Septuples") Septuples
                        option(value="Sixteen") Sixteen

            .form-group
                label.col-md-4.control-label(for="details") Details
                .col-md-4
                    textarea.form-control.input-md(name="details")

            .form-group
                label.col-md-4.control-label(for="composition") Composition
                .col-md-4
                    input.form-control.input-md(name="composition")

            .form-group
                label.col-md-4.control-label(for="numMeth") Number of methods
                .col-md-4
                    input.form-control.input-md(name="numMeth")

            .col-md-4.col-md-offset-2
                for i in [1,2,3,4,5,6,7,8]
                    .row.form-horizontal
                        .form-group
                            label.col-md-2.control-label(for="ringer" + i) #{i}
                            .col-md-10
                                input.form-control.input-md(name="ringer" + i)

            .col-md-4
                for i in [9,10,11,12,13,14,15,16]
                    .row.form-horizontal
                        .form-group
                            label.col-md-2.control-label(for="ringer" + i) #{i}
                            .col-md-10
                                input.form-control.input-md(name="ringer" + i)

            .form-group
                label.col-md-4.control-label(for="conductor") Conductor
                .col-md-4
                    input.form-control.input-md(name="conductor")

            .form-group
                label.col-md-4.control-label(for="footnotes") Footnotes
                .col-md-4
                    textarea.form-control.input-md(name="footnotes")

            .form-group
                label.col-md-4.control-label(for="comments") Comments
                .col-md-4
                    textarea.form-control.input-md(name="comments")

            .form-group
                label.col-md-4.control-label(for="rw") RW
                .col-md-4
                    input.form-control.input-md(name="rw")

            .form-group
                label.col-md-4.control-label(for="bellboard") BellBoard
                .col-md-4
                    input.form-control.input-md(name="bellboard")

            .form-group
                .col-md-offset-4.col-md-4
                    button.form-control.btn.btn-default.input-md(type="submit") Submit